.loginComp{
    border: 1px solid black;
    width:400px;
    height: 100%;
    align-items: center;
    padding: 30px;
    margin: auto;
    position: relative;
    margin-top: 50px;
   
}
.loginButton{

padding-left: 20px;
padding-right: 20px;
font-size: 20px;
font-family: verdana;

display: block;
margin: auto;
margin-top: 30px;
   
}